.obox{
    border: solid 1px;
    height: 900px;
    background-image: url(bd1.jpg);
    background-repeat: no-repeat;
    background-size: 1900px 900px;
}
#kf{
    color: azure;
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
}
#register,#login{
    width: 200px;
    height: 55px;
    background-color: gold;   
}
#register{
    margin-left: 750px;
    
}
#register a,#login a{
    color: navy;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
#register:hover{
    background-color: white;
}
#login:hover{
    background-color: white;
}